.controlpanel-buttons {
    display: inline-block;
}

.controlpanel-buttons button:active {
    color: #3e8e41;
}

.controlpanel-buttons button {
    /*background-color: white;*/
    /*border: 0px;*/
    background-color: transparent;
    text-decoration: underline;
    border: none;
    outline: none;
    font-family: 'Roboto', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}